/* stylesheet.cs*/


body{
font-family:    arial, Helvetica, sans-serif;
background:     #3399dd;
padding:        0;
color:          #cccccc;
    }
    
/* -----CONTENT -----*/

#loginCOntent
{
width:          auto;
height:         auto;
margin:         70px 0 0;
padding:        0;
display:        block;
}

/* -----FORM -----*/

#myForm
{
Width:          450px;
height:         265px;
background:     #e3dfdf;
color:           #3399dd;
margin:         0 auto;
padding:        10px;
}

#myForm         h3
{
text-align:     center;    
}

#myForm hr
{
color:          #fff;    
}

#myForm p{margin-bottom:0;}

.inputField{height:20px;  }

.checkButton{float:left;margin-top:20px;}

.submit-text
{ 
background:     #000;
border:         none;
color:          #ccc;
height:         33px;
margin-right:   213px;
width:          75px;
}

.lineBttom{}
.registerTxt1{float:left;font-size: 13px;}

.registerTxt2{float:right;font-size: 13px;}